.wrapper {
  display: flex;
  flex-direction: column;

  .project_title {
    display: flex;
    align-items: center;
    margin: 30px 0;

    span {
      font-size: 25px;
    }

    h2 {
      margin-left: 10px;
      color: #fa6400;
    }
  }

  .feature_project {
    display: flex;
    align-items: center;
    height: 350px;

    .image_container {
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .content {
      flex: 1.5;
      padding: 40px;
      font-weight: 300;
      font-size: 18px;
      line-height: 30px;
    }
  }
}
