@import '../styles/globals.scss';

.contact {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-image: url('/images/support.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  padding: 32px;

  @include tablet {
    flex-direction: column;
  }

  .subtitle {
    font-size: 18px;
    color: rgb(170 166 195);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: center;

    @include lgTablet {
      font-size: 14px;
    }

    @include smMobile {
      font-size: 10px;
    }
  }

  .span {
    color: #fa6400;
  }

  .title {
    color: rgb(255 255 255);
    font-weight: 900;
    font-size: 60px;
    text-align: center;

    @include lgTablet {
      font-size: 55px;
    }

    @include tablet {
      font-size: 50px;
    }

    @include mobile {
      font-size: 40px;
    }

    @include smMobile {
      font-size: 30px;
    }
  }

  .form_container {
    flex: 0.75;
    border-radius: 10px;
    background: transparent;

    .form {
      height: 100%;
      margin-top: 48px;
      display: flex;
      flex-direction: column;
      gap: 32px;

      .label {
        display: flex;
        flex-direction: column;
      }

      .span {
        color: white;
        font-weight: 500;
        margin-bottom: 16px;
      }
      .input {
        background-color: #040c18;
        padding: 16px 5px;
        color: white;
        border-radius: 5px;
        outline: none;
        border: 1px solid rgba(244, 152, 103, 0.2);
        font-weight: 500;
        resize: none;

        &::placeholder {
          color: rgb(170 166 195);
        }
      }

      .btn {
        background-color: #040c18;
        padding: 12px 32px;
        border-radius: 12px;
        outline: 2px solid transparent;
        outline-offset: 2px;
        width: fit-content;
        color: white;
        font-weight: 700;
        cursor: pointer;
      }
    }
  }

  .social_container {
    flex: 1;

    @include lgTablet {
      flex: 0.75;
    }
  }
}
