@import '../styles/globals.scss';

.projects_hero_container {
  position: relative;
  width: 100%;
  height: calc(100vh - 160px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url('/images/gate.png');
  background-position: center;
  background-size: cover;

  @include mobile {
    align-items: center;
  }

  .figma {
    position: absolute;
    top: 0;
    left: -10px;

    @include mobile {
      width: 80px;
      height: 80px;
    }
  }

  .span {
    height: 20px;
    width: 15px;
    background-color: #007acc;
  }

  .title {
    color: white;
    font-weight: 900;
    font-size: 60px;
  }

  .content_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    max-width: 1280px;
    margin-bottom: 50px;

    .content {
      font-size: 18px;
      padding: 10px;
      color: rgb(197, 194, 211);
      margin-top: 35px;
      line-height: 30px;
      font-weight: 900;
      background-color: rgba(1, 1, 1, 0.7);
      text-align: center;

      @include mobile {
        font-size: 15px;
      }
    }
  }
}
