@import '../styles/globals.scss';

.projects_hero_container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('/images/gate.png');
  background-position: top;
  background-size: 80% 60%;
  background-repeat: no-repeat;
  margin-top: 50px;
  padding-top: 40px;

  @include lgMobile {
    background-size: 90% 60%;
    padding-top: 0;
  }

  @include mobile {
    background-size: 100% 60%;
    align-items: center;
  }

  @include smMobile {
    margin-top: 0;
  }

  .span {
    height: 20px;
    width: 15px;
    background-color: #007acc;
  }

  .subtitle {
    font-size: 14px;
    color: rgb(170 166 195);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-top: 30px;
  }

  .title {
    color: white;
    font-weight: 900;
    font-size: 60px;
  }

  .content_wrapper {
    display: flex;
    width: 100%;

    .content {
      font-size: 17px;
      color: rgb(197, 194, 211);
      margin-top: 25px;
      line-height: 30px;
      font-weight: 700;

      @include lgMobile {
        font-weight: 900;
      }

      @include mobile {
        font-size: 15px;
        text-align: center;
        background-color: rgba(1, 1, 1, 0.4);
      }
    }
  }
}
