@import '../../styles/globals.scss';

.animation_container {
  position: relative;
  display: grid;
  gap: $spacer;
  grid-auto-flow: column;
  grid-auto-columns: 98%;
  overflow-x: auto;
  overflow-y: hidden;
  overscroll-behavior-inline: contain;
  padding: 0 $spacer $spacer;
  // scrollbar-width: none;
  // -ms-overflow-style: none;

  // &::-webkit-scrollbar {
  //   display: none;
  // }

  @include smMobile {
    padding: 0 $smSpacer $smSpacer;
    gap: $smSpacer;
  }

  .card_wrapper {
    padding: $spacer;
    border-radius: 0.5rem;
    background-color: rgba(26, 45, 71, 0.3);
    display: flex;
    flex-direction: row;
    // align-items: center;
    // justify-content: center;
    gap: 40px;

    @include lgTablet {
      gap: 20px;
    }

    @include tablet {
      flex-direction: column;
    }

    @include smMobile {
      padding: $spacer $smSpacer;
    }

    .title_wrapper {
      text-transform: uppercase;

      @include lgTablet {
        h4 {
          text-transform: none;
          font-size: 10px;
        }
      }

      @include smMobile {
        align-self: center;
      }
    }

    .card_project {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .card_extra {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      padding: 30px;
      gap: 10px;

      @include lgTablet {
        padding: 0;
      }

      @include tablet {
        padding: 30px;
      }

      @include mobile {
        padding: 0;
      }

      h3 {
        font-size: 17px;
        font-weight: 700;
        text-transform: uppercase;
        color: white;
        font-family: 'Raleway';
      }

      p {
        font-family: 'Raleway';
        font-size: 15px;
        margin: 20px 0px;
        font-weight: 200;
        color: white;

        @include smMobile {
          text-align: center;
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 0 30px;
        font-family: 'Raleway';
        margin-bottom: 20px;
      }

      li {
        font-size: 14px;
        font-weight: 500;
        text-align: left;
        color: white;
        list-style: square;

        @include smMobile {
          text-align: center;
          list-style: none;
        }
      }

      h5 {
        font-size: 18px;
        line-height: normal;
        font-weight: 500;
        font-family: 'Raleway';
        text-align: center;
      }
    }

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: $spacer;
    }

    .image {
      inline-size: 100%;
      aspect-ratio: 16 / 9;
      object-fit: cover;
    }
  }
  .progress_bar {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    height: 10px;
    background: #db6300;
    transform-origin: 0%;
    z-index: 99;
  }
}

.animation_snaps {
  scroll-snap-type: x mandatory;
  scroll-padding-inline: $spacer;

  & > * {
    scroll-snap-align: start;
  }

  &:last-child {
    scroll-snap-align: end;
  }
}
