.header {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  position: relative;

  .navbar_gradient {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  .navbar {
    width: 90vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

    .links {
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .link_btn {
        font-size: 20px;
        font-weight: 300;
        color: rgba(0, 219, 216, 0.4);
        text-transform: uppercase;
      }

      .link_btn:hover {
        text-decoration: underline;
        color: rgba(0, 219, 216, 1);
      }

      .active {
        text-decoration: underline;
        color: rgba(0, 219, 216, 1);
      }
    }
  }
}
