.header {
  height: 75px;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 20;
  top: 0;
  background: transparent;

  .scrolled {
  }

  .navbar_gradient {
    position: absolute;
    width: 50%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
  }

  .navbar {
    height: 100%;
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .links {
      display: flex;
      gap: 40px;

      .link_btn {
        font-size: 20px;
        font-weight: 300;
        color: rgba(0, 219, 216, 0.4);
      }

      .link_btn:hover {
        text-decoration: underline;
        color: rgba(0, 219, 216, 1);
      }

      .active {
        text-decoration: underline;
        color: rgba(0, 219, 216, 1);
      }
    }
  }
}
