@import '../styles/globals.scss';

.content_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2.5;
  padding: 40px;
  background: radial-gradient(#011627 60%, #040c18 100%);
  border-radius: 15px;

  @include lgTablet {
    flex: 1;
    padding: 24px;
  }

  @include smMobile {
    padding: 24px 11px;
  }

  .image {
    position: absolute;
    top: -50px;
    right: -50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid rgb(58, 56, 56);
    object-fit: cover;

    @include lgTablet {
      width: 150px;
      height: 150px;
    }

    @include mobile {
      width: 120px;
      height: 120px;
      right: calc(50% - 120px / 2);
    }
  }

  .title {
    align-self: center;
    padding: 50px 0;

    @include smMobile {
      padding-bottom: 30px;
    }

    .letter {
      margin: 0;
      font-size: 60px;

      @include tablet {
        font-size: 50px;
      }

      @include lgMobile {
        font-size: 40px;
      }

      @include mobile {
        font-size: 30px;
      }

      @include smMobile {
        font-size: 26px;
      }
    }

    h1 {
      font-weight: 400;
      line-height: 67px;
      font-size: 60px;
      font-weight: 900;
      padding: 10px;
      text-align: center;

      @include tablet {
        font-size: 50px;
      }

      @include lgMobile {
        font-size: 40px;
        line-height: 45px;
      }

      @include mobile {
        font-size: 30px;
      }

      @include smMobile {
        padding: 10px 0;
        font-size: 25px;
      }
    }

    h4 {
      font-style: italic;
      font-weight: 300;
      font-size: 20px;
      padding: 10px;

      @include tablet {
        font-size: 17px;
      }

      @include lgMobile {
        font-size: 14px;
        padding: 0;
        text-align: center;
      }

      @include smMobile {
        font-size: 10px;
      }
    }

    span {
      margin: 0 8px;
      color: #fa6400;
      font-weight: 900;
    }
  }

  .about_title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 30px;

    @include smMobile {
      margin-top: 10px;
    }

    span {
      font-size: 25px;

      @include mobile {
        font-size: 18px;
      }
    }

    h2 {
      margin-left: 10px;
      color: #fa6400;

      @include mobile {
        font-size: 18px;
      }

      @include smMobile {
        font-size: 14px;
        margin-left: 5px;
      }
    }
  }

  .hr {
    border: 1px solid rgba(124, 77, 170, 1);
  }

  .content {
    font-size: 17px;
    font-weight: 500;
    color: rgb(197, 194, 211);
    padding: 20px 10px;
    line-height: 30px;

    @include lgMobile {
      font-size: 15px;
      padding: 7px 5px;
      line-height: 25px;
    }
  }

  .scroll_btn {
    width: 35px;

    position: absolute;
    bottom: -150px;
    left: calc(50% - 35px / 2);
  }
}
