.wrapper {
  height: 100%;
  padding: 4rem;

  .about {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;

    .container {
      height: 100%;
      display: flex;

      .image_container {
        flex: 1;
        padding: 2rem;

        .image {
          border-radius: 50%;
          border: 2px solid rgb(58, 56, 56);
          object-fit: cover;
        }

        .emoji_container {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: radial-gradient(
            circle at 3% 25%,
            #011627 0%,
            #040c18 100%
          );
          border: 1px solid rgb(58, 56, 56);
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          position: absolute;
          right: 20px;
          top: -30px;
        }

        .date {
          height: 80px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 25px 0 120px 0;
          border: 1px solid rgba(124, 77, 170, 0.4);
          border-radius: 15px;
          position: relative;

          h2 {
            font-weight: 300;
          }
        }
      }

      .content {
        flex: 3;
      }
    }
  }
}
