.wrapper {
  height: 100%;
  padding: 4rem;

  .about {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;

    .container {
      height: 100%;
      display: flex;

      .image_container {
        flex: 1;
        padding: 2rem;

        .image {
          border-radius: 50%;
          border: 2px solid rgb(58, 56, 56);
          object-fit: cover;
        }

        .emoji_container {
          display: flex;
          position: absolute;
          right: 30px;
          top: -15px;

          span {
            transform: scale(1.8);
          }
        }

        .date {
          height: 80px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 25px 0 120px 0;
          border: 1px solid rgba(124, 77, 170, 0.4);
          border-radius: 15px;
          position: relative;

          h2 {
            font-size: 24px;
            font-weight: 400;
          }
        }
      }

      .content_container {
        flex: 2.5;
        border: 1px solid rgba(124, 77, 170, 0.4);
        padding: 40px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        background: radial-gradient(#011627 30%, #040c18 100%);

        .title {
          align-self: center;
          padding: 50px 0;

          .letter {
            margin: 0;
            font-size: 60px;
          }

          h1 {
            font-weight: 400;
            line-height: 67px;
            font-size: 55px;
            padding: 10px;
          }

          h4 {
            font-style: italic;
            font-weight: 300;
            font-size: 20px;
            padding: 10px;
          }

          span {
            margin: 0 8px;
            color: rgba(124, 77, 170, 1);
            font-weight: 900;
          }
        }

        .about_title {
          display: flex;
          align-items: center;
          margin-bottom: 10px;

          h2 {
            margin-left: 10px;
          }
        }

        .hr {
          border: 1px solid rgba(124, 77, 170, 1);
        }

        .content {
          font-size: 22px;
          font-weight: 400;
          padding: 30px 0;
          line-height: 30px;
        }
      }
    }
  }
}
