@import '../styles/globals.scss';

.explore {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 6rem 4rem;
  gap: 150px;

  @include lgTablet {
    gap: 80px;
  }

  .typing {
    margin-bottom: 30px;
  }

  .explore_cloud {
    height: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;

    @include lgTablet {
      flex-direction: column-reverse;
    }

    h1 {
      font-weight: 400;
      font-family: 'Raleway';
      font-size: 22px;
      padding: 10px 0;
    }

    img {
      border-top-right-radius: 60px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 60px;
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      object-fit: cover;
    }
  }

  .divider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      max-width: 1280px;
      font-size: 30px;
      padding: 30px 0;
      border-top: 1px solid rgba(124, 77, 170, 0.4);
      border-bottom: 1px solid rgba(124, 77, 170, 0.4);
      text-align: center;
    }
  }

  .explore_modern_app {
    height: 100%;
    display: flex;
    max-width: 1440px;
    flex-direction: row;
    align-items: center;
    gap: 100px;

    @include lgTablet {
      flex-direction: column-reverse;
    }

    h1 {
      font-weight: 400;
      font-family: 'Raleway';
      font-size: 22px;
      padding: 10px 0;
    }
  }
}
