.explore {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .cloud_typing {
    margin-bottom: 30px;
  }

  .explore_cloud {
    height: 90vh;
    max-width: 1440px;
    display: flex;
    align-items: center;
    gap: 100px;

    h1 {
      font-weight: 400;
      font-family: 'Raleway';
      font-size: 22px;
      padding: 10px 0;
    }

    img {
      border-top-right-radius: 60px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 60px;
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      object-fit: cover;
    }
  }

  .explore_modern {
    height: 90vh;
    display: flex;
    max-width: 1440px;
    flex-direction: row;
    align-items: center;
    gap: 100px;

    img {
      border-top-right-radius: 60px;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 60px;
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      object-fit: cover;
    }

    h1 {
      font-weight: 400;
      font-family: 'Raleway';
      font-size: 22px;
      padding: 10px 0;
    }

    .btn {
      position: absolute;
      top: 25%;
      left: 40%;
      cursor: pointer;
      padding: 15px 10px;
      background: rgba(124, 77, 170, 0.5);
      border: none;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 30px;
      color: white;
      font-size: 20px;

      &:hover {
        background: rgba(124, 77, 170, 1);
      }
    }
  }
}
