.hero {
  height: calc(100vh - 20px);
  text-align: center;

  .scroll {
    font-size: 18px;
    color: rgb(224, 176, 176);
  }

  .scroll :first-child {
    font-size: 20px;
    color: #fa8231;
  }
  .hero_wrapper {
    width: 100%;
    height: calc(100% - 40px);
    max-width: 1480px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-height: 400px;
      padding: 50px;

      h1 {
        margin-top: 10px;
        font-size: 28px;
        font-weight: 300;
      }
      // custom TypingText css rule
      .text {
        font-size: 50px;
        font-weight: 400;
      }
    }
  }
}
