@import '../styles/globals.scss';

.learning {
  position: relative;
  padding: 75px 0px 0px 0px;

  .learning_panel {
    width: 100%;
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);

    .main_panel {
      overflow-y: scroll;
      background-color: whitesmoke;
      transition: all 0.2s ease-in-out;

      @include lgMobile {
        width: 100% !important;
      }

      .test_container {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 80px;
        gap: 60px;

        @include xLgTablet {
          padding: 80px 25px;
        }

        @include smMobile {
          padding: 70px 5px;
        }
      }
    }
  }
}
