.explore_link {
  width: fit-content;
  font-size: 12px;
  font-weight: 600;
  line-height: 190%;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #db6300;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}
