.section_wrapper {
  padding: 4rem;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 0;
  // background: radial-gradient(circle at 3% 25%, #011627 0%, #040c18 100%);
}
