@import '../styles/globals.scss';

.section_wrapper {
  height: 100%;
  padding: 4rem;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 0;

  @include mobile {
    padding: 1.5rem;
  }
}
