@import '../../styles/globals.scss';

.logo_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  @include lgTablet {
    display: none;
  }

  h1 {
    font-weight: 300;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
