@import '../../styles/globals.scss';

.logo_container {
  display: flex;
  align-items: center;

  @include mobile {
    display: none;
  }

  h1 {
    font-weight: 700;
    margin-left: 10px;

    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;

    @include lgMobile {
      font-size: 22px;
    }
  }
}
