@import '../styles/globals.scss';

.social_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .emoji_container {
    display: flex;
    position: absolute;
    right: 20px;
    top: -12px;
  }

  .tags {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;

    @include tablet {
      align-items: flex-start;
    }
  }

  .date {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
    border: 1px solid rgba(244, 152, 103, 0.2);
    border-radius: 5px;
    position: relative;
    margin: 10px 10px 10px 0;
    align-self: flex-end;
    background-color: rgba(1, 22, 39, 1);

    h2 {
      font-size: 14px;
    }
  }
}
