@import '../styles/globals.scss';

.social_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;

  .emoji_container {
    display: flex;
    position: absolute;
    right: 20px;
    top: -12px;
  }

  .tags {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .date {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
    border: 1px solid rgba(124, 77, 170, 0.2);
    border-radius: 5px;
    position: relative;

    h2 {
      font-size: 14px;
    }
  }
}
