@import '../styles/globals.scss';

.social_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 50px 0;
  background: linear-gradient(#011627 20%, #040c18 100%);
  border-radius: 5px;

  .emoji_container {
    display: flex;
    position: absolute;
    right: 20px;
    top: -12px;
  }

  .tags {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .date {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
    border: 1px solid rgba(244, 152, 103, 0.2);
    border-radius: 5px;
    position: relative;
    margin: 10px 10px 10px 0;
    align-self: flex-end;

    h2 {
      font-size: 14px;
    }
  }
}
