@import '../../styles/globals.scss';

.info_card {
  min-height: 90px;
  width: 70%;
  background-color: white;
  border: 1px solid $secondary300;

  .info_title {
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    .icon_container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 20px;

      .icon {
        cursor: pointer;
      }
    }

    h2 {
      font-size: 16px;
      color: $dark800;
    }
  }

  .info_content {
    padding: 0px 30px 30px 30px;

    p {
      color: $dark700;
      text-align: left;
    }
  }
}
