@import '../../styles/globals.scss';

.question_card {
  position: relative;
  width: 70%;
  background-color: white;
  border: 1px solid $secondary300;
  padding: 30px;
  color: $dark800;

  @include tablet {
    width: 90%;
  }

  @include lgMobile {
    width: 100%;
  }

  @include smMobile {
    padding: 30px 15px;
  }

  .card_image_container {
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .card_image {
      width: 400px;
      height: 250px;
      object-fit: contain;

      @include lgMobile {
        width: 100%;
        height: 100%;
      }
    }
  }

  .question_number {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px;

    @include smMobile {
      font-size: 14px;
    }
  }

  .question {
    padding: 0px 15px 15px 15px;
    border-bottom: 1px solid $secondary300;
    font-weight: 700;
    font-size: 18px;
    color: $dark800;

    @include smMobile {
      font-size: 15px;
    }
  }

  .answers_list {
    display: flex;
    flex-direction: column;
    padding: 30px 15px;
    gap: 10px;

    .anwser {
      font-weight: 400;

      @include smMobile {
        font-size: 14px;
      }

      span {
        margin-left: 10px;
      }
    }

    .correct {
      opacity: 1;
      font-weight: 700;
    }

    .incorrect {
      opacity: 0.3;
    }
  }

  .correct_answer_btn {
    position: absolute;
    bottom: 5px;
    right: 25px;
    cursor: pointer;
    padding: 4px 8px;
    background-color: $dark600;
    border: none;

    &:hover {
      background-color: $dark800;
    }
  }
}
