@import '../styles/globals.scss';

.container {
  display: flex;
  align-items: center;
  position: relative;

  .icon {
    position: absolute;
    right: 20px;
    top: 0;
    z-index: 20;

    svg {
      font-size: 18px;
      color: #fa6400;
    }
  }

  .tag {
    position: relative;
    width: 100%;
    margin: 0 3px 5px 3px;

    .link {
      padding: 10px 30px;
      display: flex;
      align-items: center;

      @include tablet {
        padding-left: 0;
      }

      h4 {
        color: white;
        font-size: 25px;
        font-weight: 900;
        letter-spacing: 0.1rem;

        @include lgTablet {
          font-size: 20px;
        }

        @include smMobile {
          font-size: 15px;
        }
      }
    }
  }
}
