// Custom CSS Rules

.section_wrapper {
  height: 100vh;
  padding: 4rem;
}

// Media query

$widthSmWideScreen: 1570px;

@mixin smallWideScreen {
  @media (max-width: #{$widthSmWideScreen}) {
    @content;
  }
}
