// Custom CSS Rules

.section_wrapper {
  height: 100vh;
  padding: 4rem;
}

// Media query

$widthSmWideScreen: 1570px;
$widthXLgTablet: 1360px;
$widthLgTablet: 1180px;
$widthTablet: 960px;
$widthlgMobile: 778px;
$widthMobile: 640px;
$widthsmMobile: 450px;

@mixin smallWideScreen {
  @media (max-width: #{$widthSmWideScreen}) {
    @content;
  }
}

@mixin xLgTablet {
  @media (max-width: #{$widthXLgTablet}) {
    @content;
  }
}

@mixin lgTablet {
  @media (max-width: #{$widthLgTablet}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$widthTablet}) {
    @content;
  }
}

@mixin lgMobile {
  @media (max-width: #{$widthlgMobile}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$widthMobile}) {
    @content;
  }
}

@mixin smMobile {
  @media (max-width: #{$widthsmMobile}) {
    @content;
  }
}
