// Custom CSS Rules

.section_wrapper {
  height: 100vh;
  padding: 4rem;
}

$secondary100: #d9dbdf;
$secondary200: #ceecfd;
$secondary300: #c0c5cc;
$dark200: #5e4f45;
$dark400: #30363d;
$dark500: #21262d;
$dark600: #22262e;
$dark700: #021530;
$dark800: #040c18;

$navColor: #161b22;
$mainColor: #0d1117;
$logoColor: #58a6ff;
$textColor: #705f53;
$lightColor: #d9dbdf;
$orangeColor: #fa8231;

// Media query

$widthSmWideScreen: 1570px;
$widthXLgTablet: 1360px;
$widthLgTablet: 1180px;
$widthLaptop: 1024px;
$widthTablet: 960px;
$widthlgMobile: 778px;
$widthMobile: 640px;
$widthsmMobile: 450px;

@mixin smallWideScreen {
  @media (max-width: #{$widthSmWideScreen}) {
    @content;
  }
}

@mixin xLgTablet {
  @media (max-width: #{$widthXLgTablet}) {
    @content;
  }
}

@mixin lgTablet {
  @media (max-width: #{$widthLgTablet}) {
    @content;
  }
}

@mixin Laptop {
  @media (max-width: #{$widthLaptop}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$widthTablet}) {
    @content;
  }
}

@mixin lgMobile {
  @media (max-width: #{$widthlgMobile}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$widthMobile}) {
    @content;
  }
}

@mixin smMobile {
  @media (max-width: #{$widthsmMobile}) {
    @content;
  }
}
