.gradient_01 {
  background-image: linear-gradient(
    270deg,
    hsl(295deg 76% 51%) 0%,
    hsl(284deg 70% 73%) 26%,
    hsl(257deg 70% 86%) 39%,
    hsl(202deg 92% 90%) 50%,
    hsl(215deg 77% 81%) 61%,
    hsl(221deg 73% 70%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(125px);
}

.gradient_04 {
  position: absolute;
  width: 304px;
  height: 100vh;
  left: 30%;
  top: 10%;

  background: rgba(45, 72, 152, 0.75);
  filter: blur(200px);
  transform: rotate(-53.13deg);
}

.gradient_05 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0) 100%);
}

.laser_gradient {
  position: absolute;
  width: 6px;
  height: 180px;
  right: 25%;
  top: 22%;
  background: linear-gradient(#7c4daa, rgba(212, 17, 0.7));
  border: 1px solid red;
  filter: blur(2px);
  transform: rotate(140deg);
  z-index: 1;
}

.laser2_gradient {
  position: absolute;
  width: 6px;
  height: 200px;
  right: 30%;
  top: 20%;
  background: linear-gradient(#7c4daa, rgba(212, 17, 17, 0.8));
  border: 1px solid red;
  filter: blur(2px);
  transform: rotate(140deg);
  z-index: 1;
}

.eye_gradient {
  position: absolute;
  width: 27px;
  height: 27px;
  right: 39.5%;
  top: 23%;
  background: red;
  border: 4px solid black;
  filter: blur(2px);
  border-radius: 50%;
  z-index: 1;
}

.eye2_gradient {
  position: absolute;
  width: 27px;
  height: 27px;
  right: 34%;
  top: 24%;
  background: red;
  border: 4px solid black;
  filter: blur(2px);
  border-radius: 50%;
  z-index: 1;
}

.boil_gradient {
  position: absolute;
  width: 75px;
  height: 170px;
  right: 7.5%;
  top: 0;
  background: rgba(124, 77, 170, 0.7);
  border-bottom: 55px solid black;
  filter: blur(7px);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 40px;
  z-index: 1;
}

.black_gradient {
  position: absolute;
  width: 50px;
  height: 60px;
  right: 13%;
  bottom: 40%;
  background: black;
  border: 3px solid red;
  border-bottom-right-radius: 80px;
  filter: blur(6px);
  z-index: 1;
}

.footer_gradient {
  position: absolute;
  width: 500px;
  height: 100px;
  left: 37%;
  bottom: 0;

  background: #65c4fa;
  filter: blur(150px);
}

.gradient_private {
  background: linear-gradient(170deg, #cc0303, white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient_text {
  background: linear-gradient(270deg, #00dbd8, #b133ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient_hero {
  background: linear-gradient(189.97deg, #ae67fa 1.84%, #f49867 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.feedback_gradient {
  display: none;
  position: absolute;
  width: 250px;
  height: 450px;
  right: 0;
  bottom: 20%;
  background: #7c4daa;
  filter: blur(145px);
}

.feedback_gradient.active {
  display: block;
}

.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
