/* General CSS Rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Eudoxus Sans', sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  background: radial-gradient(circle at 3% 25%, #011627 0%, #040c18 100%);
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(189.97deg, #ae67fa 50% 1.84%, #f49867 102.67%);
  border-radius: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

#canvas-projects-element {
  height: 65vh !important;
}

#canvas-projects-element div {
  transform: none !important;
  bottom: 0;
  left: 0;
}

.scrolled {
  background-color: #040c18;
}

.bold b {
  font-weight: 700;
  color: rgb(226, 216, 216);
}

.normal b {
  font-weight: 500;
}

.turn-on {
  display: none;
}
