/* General CSS Rules */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Eudoxus Sans', sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: radial-gradient(circle at 3% 25%, #011627 0%, #040c18 100%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

#canvas-projects-element {
  height: 80vh !important;
  max-width: 75% !important;
}

#canvas-projects-element div {
  transform: none !important;
  top: 0;
  left: 0;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.scrolled {
  background-color: #040c18;
}
